.sidebar {
  background-color: rgb(211 227 253);
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.sidebar.active {
  left: 0;
  transition: 350ms;
  z-index: 9999px !important;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(100 150 238) !important;
  width: 100%;
}

.email {
  color: yellow;
  font-size: 1.4rem;
  margin-bottom: 2000px !important;
  margin-top: 15px !important;
}

.level-cards {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.level-card {
  background-color: #ffffff;
  color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease;
}

.level-card:hover {
  transform: scale(1.05);
}
