body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #ffffff;
  max-width: 100%;
}

.containerBookDetail {
  max-width: 85%;
  margin: 0 auto !important;
  padding: 20px;
  border-radius: 20px;
  margin-top: 40px !important;

  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.book-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.book-header img {
  width: 120px;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
  margin: 20px !important;
}
.book-info {
  flex: 1;
}
.book-info h1 {
  margin: 0;
  font-size: 24px;
}
.book-info p {
  margin: 5px 0 !important;
  color: #555;
  font-size: x-large;
}
.book-content {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  max-height: 500px;
  overflow-y: auto;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}
