.topic-card {
  border-radius: 20px;
}

.topic-list {
  list-style-type: none;
  padding: 0;
}

.topic-item {
  margin-bottom: 10px;
}

.topic-item a {
  display: block;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}

.topic-item a:hover {
  background-color: #e2e6ea;
}

.mainLessonList {
  height: 100vh;
}
.container2 {
  max-width: 90% !important;
  margin: 0 auto !important;
}

.col-md-4 {
  margin-bottom: 32px !important;
}

.h2 {
  font-size: 2rem;
  margin: 0 auto !important;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.card-title {
  margin-bottom: 0.75rem !important;
}

p {
  margin-top: 0 !important;
  margin-bottom: 1rem !important;
}
