.navbar {
  background-color: #6495ed;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative; /* Ensure the navbar is properly positioned */
  z-index: 10; /* Ensure the navbar is above other content */
  border-radius: 20px;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left .menu-bars,
.navbar-center .menu-bars,
.navbar-right .navbar-brand {
  margin-right: 20px !important;
}

.navbar-left .avatar-container {
  margin-right: 10px;
}

.navbar-left .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar-left span,
.navbar-center .menu-bars span,
.navbar-right .navbar-brand img {
  color: yellow;
  font-size: 1.2rem;
}

.navbar > div {
  display: flex;
  gap: 300px;
}

.menu-bars {
  background: none;
  cursor: pointer;
}

.navbar-center {
  flex-grow: 1;
  justify-content: center;
}

.navbar-right .navbar-brand img {
  height: 30px;
}

.close-sidebar-icon {
  cursor: pointer;
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  position: absolute;
  top: 10px; /* Adjust position as needed */
  right: 10px; /* Adjust position as needed */
}

/* Sidebar.css */

.sidebar {
  background-color: rgb(211 227 253);
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 15; /* Ensure the sidebar is above other content */
}

.sidebar.active {
  left: 0;
  transition: 350ms;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #6496ee;
  width: 100%;
  border-radius: 0 0 25px 25px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
}

.email {
  color: yellow;
  font-size: 1.2rem;
  margin-bottom: 10px !important;
  margin-top: 20px !important;
}

.logout-button,
.close-sidebar-button {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  margin: 30px auto !important;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  width: 100px;
}

.logout-button:hover,
.close-sidebar-button:hover {
  background-color: #ff1a1a;
}

.level-cards {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.level-card {
  background-color: #ffff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease;
}

.level-card:hover {
  transform: scale(1.05);
}
