/* Style for the profile sidebar */
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  position: relative;
  overflow-x: hidden; /* Добавлено свойство overflow-x */
}

.profile-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
  z-index: 1000; /* Ensure the sidebar stays on top */
}
.container {
  max-width: 840px;
  width: 70%;
}

.containerEnd {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-sidebar h5 {
  margin-bottom: 20px;
}

.profile-sidebar .menu h6,
.profile-sidebar .account h6 {
  margin-bottom: 10px;
}

.profile-sidebar .menu ul,
.profile-sidebar .account ul {
  padding-left: 0;
  list-style: none;
}

.profile-sidebar .menu ul li,
.profile-sidebar .account ul li {
  margin-bottom: 5px;
}

.profile-sidebar .menu ul li a,
.profile-sidebar .account ul li a {
  color: #333;
  text-decoration: none;
}

.profile-sidebar .menu ul li a:hover,
.profile-sidebar .account ul li a:hover {
  color: #007bff;
}

/* Adjustments for images and cards */
.initial-logo {
  display: none;
}
.level-card {
  margin-bottom: 20px;
  display: flex;
}
.greeting-card {
  background-color: #e9f4ff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.greeting-card h3 {
  margin-bottom: 10px;
}
.greeting-card img {
  max-width: 400px;
  border-radius: 50%;
}
.card-img-top {
  max-width: 200px;
  height: auto;
}
.containerEND {
  margin-top: 500px;
  display: flex;
}
.additional {
  background-color: #e9f4ff;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.navbar {
  z-index: 9999; /* Ensure the navbar is behind the sidebar */
  width: 100%;
}
.user-sidebar {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: -300px; /* Initially hidden */
  height: 100%;
  width: 300px;
  background-color: #f8f9fa;
  padding: 20px;
  transition: right 0.3s ease;
}
.user-sidebar.show {
  z-index: 9999;
  right: 0;
}
.initial-logo {
  display: none;
}
footer {
  width: 100%;
  position: relative;
  z-index: 1100;
  background-color: #eceaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-card {
  width: 800px !important;
  flex-direction: column;
  display: flex;
  gap: 20px;
}
.nav-menu.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: rgba(195, 182, 158, 0.9); /* Полупрозрачный цвет */
  z-index: 9999; /* Очень высокий уровень z-index, чтобы элемент перекрывал все остальные */
}
#wrapper_for_main_page {
  display: flex;
  flex-direction: row;
}
#wrapper_for_main_page #levels {
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
  justify-content: center; /* Выравнивание элементов по горизонтали */
  align-items: center; /* Выравнивание элементов по вертикали */
}

#wrapper_for_main_page #levels div {
  width: calc(40% - 10px);
  text-align: center;
  font-size: 30px;
  /* margin: 10px; */
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 5px; /* Отступ 10px сверху и снизу, 5px слева и справа */
}

* {
  max-width: 100%; /* Установка максимальной ширины */
}

.emirlan {
  margin: 10px !important;
}

#libraryMain {
  width: 720px;
  position: relative;
  left: 40px;
}
#moviesMain {
  width: 720px;
  position: 0;
  left: 15px;
}
