* {
  margin: 0 !important;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 0% !important;
}
